# Default Squid Conf

# 100 Mo cache
cache_dir ufs /var/spool/squid 100 16 256

#################################### ACL ####################################

acl lan src 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16 # RFC1918
acl Safe_ports port 80 
acl Safe_ports port 443
############################################################################

# Rules
http_access deny !Safe_ports
http_access allow lan
http_access deny

# Listen port
http_port 3128
